@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(110deg, #FFCCCC, #CCCCCC, #CCCCFF);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 600px;
  height: 450px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  padding: 40px 50px 70px;
}

.song {
  display: grid;
  grid-template-columns: 128px 20px 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.song__cover {
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
  grid-row: 1/4;
  grid-column: 1/2;
}

.song__cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song__author {
  font-weight: 900;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song__title {
  font-size: 16px;
  color: #777777;
  margin-top: 5px;
}

.player {
  display: flex;
  align-items: center;
}

.player__slide-container {
  flex: 1 1 100%;
  margin-right: 20px;
}

.player__slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #e6e6e6;
  outline: none;
}

.player__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000000;
  cursor: pointer;
}

.player__duration {
  font-size: 12px;
  color: #777777;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navigation button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.navigation button img {
  width: 100%;
  height: 100%;
}

.navigation__slider-container {
  position: relative;
  display: flex;
  align-items: center;
}

.navigation__slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 5px;
  margin-left: 10px;
  border-radius: 2.5px;
  background-color: #e6e6e6;
  outline: none;
}

.navigation__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000;
  cursor: pointer;
}

.navigation__progress-bar {
  position: absolute;
  top: -2px;
  left: 0;
  width: 0;
  height: 10px;
  border-radius: 2.5px;
  background-color: #000000;
}

.navigation__time {
  font-size: 12px;
  color: #777777;
}

.footer {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
}

.footer p {
  font-size: 14px;
  color: #777777;
  margin-bottom: 5px;
}

.footer a {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
