body {
    padding: 10px 30px;
    background-color: #FAFAF9;
    font-size: 24px;
    line-height: 1.5;
    font-family: "Arial Narrow", sans-serif;
    color: #222222;
    position: relative;
    height: 500px;
  }




header {
  text-align: center;
}










.Description {
  position: absolute;
  top: 50%;
  text-align: center;
}



























