body {
    padding: 10px 30px;
    background-color: #FAFAF9;
    font-size: 14px;
    line-height: 22px;
    font-family: "Arial Narrow", sans-serif;
    color: #222222;
  }




header {
  text-align: center;



}





























