@import "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;900&display=swap');

@keyframes logo {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

main {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(70deg, #bf70ff, #ff70a6, #ff9770, #ffd670, #e9ff70);
}

.wrapper-row {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {

    width: 64px;
    height: 64px;

    position: absolute;
    top: 15px;
    left: 15px;

    &.active img {
        animation-name: logo;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

.container {
    width: 768px;
    height: 490px;
}

.glass {
    overflow: hidden;
    background-color: inherit;
    border-radius: 10px;
    border: 1px solid #cfcfcf18;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background: inherit;
        left: -5px;
        right: -5px;
        top: -5px;
        bottom: -5px;
        box-shadow: inset 0 0 0 3000px rgba(233, 233, 233, 0.356);
        filter: blur(10px);
        border-radius: 15px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    padding: 40px 50px 70px;

    position: absolute;
    z-index: 1;
}

.song {
    margin-top: 70px;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 128px 20px 1fr;
}

.song__cover {
    height: 128px;
    border-radius: 100%;
    overflow: hidden;

    grid-row: 1/4;
    grid-column: 1/2;

    & img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}

.song__autor-container {
    overflow: hidden;

    grid-column: 3/4;
    align-self: end;

    &.compress {
        width: 220px;
    }
}

.song__autor {
    font-weight: 900;
    font-size: 25px;

    white-space: nowrap;

    scroll-behavior: smooth;

    &.big {
        animation: scroll 16s linear infinite;
    }
}

.song__title {
    grid-column: 3/4;

    align-self: end;
}

.user {
    position: absolute;

    visibility: hidden;
    opacity: 0;

    &.swiper-wrapper {
        position: relative;

        height: 100%;
        visibility: visible;
        opacity: 1;
    }
}

.radio {
    position: absolute;

    visibility: hidden;
    opacity: 0;

    &.swiper-wrapper {
        position: relative;

        height: 100%;
        visibility: visible;
        opacity: 1;
    }
}

.player {
    display: flex;
}

.player__slide-container {
    flex: 1 1 100%;

    margin-right: 20px;
}

.player__slider {
    -webkit-appearance: none;
    appearance: none;

    height: 10px;
    width: 100%;

    margin-bottom: 30px;

    border-radius: 50px;

    background: #e6e6e6;
    overflow: hidden;
}

.player__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    height: 15px;
    width: 15px;

    cursor: ew-resize;
    background: #000000;
    box-shadow: -400px 0 0 390px #666666;
    border-radius: 50%;
}

.player__duration {
    min-width: 43px;
}

.equalizer {
    position: absolute;
    top: 190px;
    left: 100%;
    z-index: 2;

    transform: translate(-90%, 0);

    &.active .equalizer__list {
        opacity: 1;
        visibility: visible;
    }
}


.equalizer__button {
    display: flex;
    align-items: end;
    justify-content: space-between;

    position: absolute;
    top: -150px;
    left: 180px;

    width: 40px;
    height: 40px;

    background-color: #ffffff00;

    &::after {
        content: "";
        display: block;

        width: 8px;
        height: 20px;

        border-radius: 5px;

        border: 2px solid #000000;
    }

    &::before {
        content: "";
        display: block;

        width: 8px;
        height: 40px;

        border-radius: 5px;

        border: 2px solid #000000;
    }

    & span {
        width: 8px;
        height: 30px;

        border-radius: 5px;

        border: 2px solid #000000;
    }
}

.equalizer__list {
    display: flex;

    transition: all 0.3s ease;

    opacity: 0;

    visibility: hidden;

    & span {
        height: 1px;
        width: 300px;

        position: absolute;
        top: 3px;
        left: -70px;
        z-index: 3;

        background-color: #202020;

    }
}

.equalizer__slider {
    appearance: none;

    margin-left: -140px;

    height: 9px;
    width: 170px;

    border: 1px solid #c4c4c4;
    border-radius: 10px;

    box-shadow: inset 0 0 2px 0px #00000038;

    transform: rotate(-90deg);

    &:hover {
        background-color: #eeeeee;

        border: 1px solid #b3b3b3;
    }

    &::before {
        display: block;

        position: absolute;

        width: 10px;

        font-size: 12px;

        transform: translate(-15px, -7px) rotate(90deg);
    }
}

#eq32::before {
    content: "32";
}

#eq64::before {
    content: "64";
}

#eq125::before {
    content: "125";
}

#eq250::before {
    content: "250";
}

#eq500::before {
    content: "500";
}

#eq1k::before {
    content: "1k";
}

#eq2k::before {
    content: "2k";
}

#eq4k::before {
    content: "4k";
}

#eq8k::before {
    content: "8k";
}

#eq16k::before {
    content: "16k";
}

.equalizer__slider::-webkit-slider-thumb {
    appearance: none;

    width: 15px;
    height: 20px;

    background-color: #242424;

    border: 1px solid #000000;
    border-radius: 5px;
}

.navigation {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;

    & button {
        width: 40px;

        background-color: rgba(0, 0, 0, 0);

        transition: all 0.3s ease;

        & img {
            width: 40px;
            object-fit: cover;
        }
    }
}

.navigation__prev {
    transform: rotate(-90deg);
}

.navigation__volume-button {
    background-color: #ffffff00;

    transition: all 0.3s ease;

    & img {
        width: 40px;
    }
}

.navigation__slider-container {
    position: absolute;
    top: 62%;
    left: 52px;
    z-index: 2;

    display: flex;

    visibility: hidden;
    opacity: 0;

    transition: all 0.3s ease;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.navigation__slider-title {
    margin-right: 15px;
}

.navigation__volume-slider {
    -webkit-appearance: none;
    appearance: none;

    height: 10px;

    border-radius: 50px;

    background: #e6e6e6;

    overflow: hidden;

    margin-right: 15px;
}

.navigation__volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    height: 15px;
    width: 15px;

    cursor: ew-resize;
    background: #000000;
    box-shadow: -400px 0 0 390px #666666;
    border-radius: 50%;
}

.navigation__swich {
    display: flex;
    justify-content: end;
    align-items: center;

    width: 40px;
    height: 40px;

    background-color: #ffffff00;

    position: relative;

    transition: all 0.3s ease;

    &::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        width: 1.6px;
        height: 100%;

        background-color: #000000;

        transition: all 0.3s ease;
    }

    &::after {
        content: "";

        position: absolute;
        top: -48%;
        left: 50%;

        width: 1.6px;
        height: 100%;

        transform: rotate(90deg);

        background-color: #000000;

        transition: all 0.3s ease;
    }

    & span {
        display: block;

        &.play {
            position: relative;
            top: 0;
            left: 1px;

            transform: rotate(0deg);
        }

        position: absolute;
        top: 48%;
        left: 50%;

        width: 1.6px;
        height: 100%;

        transform: rotate(-90deg);

        background-color: #000000;

        transition: all 0.3s ease;
    }
}

.navigation__swich.active {
    border: 0;

    background-color: #ffffff00;

    position: relative;

    &::after {
        content: "";
        top: -10px;
        left: 17px;

        height: 101%;

        transform: rotate(120deg);

    }

    & span {
        display: block;

        top: 10px;
        left: 17px;

        height: 101%;

        transform: rotate(-120deg);

        &.play {
            top: 0;
            left: -4px;

            height: 0px;

            transform: rotate(0deg);
        }
    }
}

.navigation__next {
    transform: rotate(90deg);
}

.navigation__radio {
    .navigation__radio-btn {
        display: block;
    }

    .navigation__user-btn {
        display: none;
    }
}

.navigation__radio.active {
    .navigation__radio-btn {
        display: none;
    }

    .navigation__user-btn {
        display: block;
    }
}

.navigation__load-button {
    width: 40px;
    height: 40px;

    background-color: #ffffff00;

}

.navigation__icon {
    width: 40px;
}

.radio-ganres {
    width: 768px;
    height: 90px;

    visibility: hidden;

    opacity: 0;

    transition: all 0.3s ease;

    &.active {
        visibility: visible;

        opacity: 1;

    }
}

.radio-ganres__container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100%;

    position: relative;
    z-index: 2;

    & .radio-ganres__station {
        width: 40px;
        height: 40px;

        background-size: cover;
    }

    & button {
        width: 40px;

        background-color: rgba(0, 0, 0, 0);

        transition: all 0.3s ease;

        & img {
            width: 40px;
            object-fit: cover;
        }
    }
}

.popup-load {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    background-color: #00000080;

    transition: all 0.7s ease;

    visibility: hidden;

    opacity: 0;

    &.active {
        visibility: visible;

        opacity: 1;
    }
}

.popup-load__row {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

}

.popup-load__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    z-index: 11;

    width: 30%;
    height: auto;

    background-color: #fff1e4;

    border-radius: 10px;

    padding: 50px 40px;

    transform: translate(0, -300%);

    transition: all 0.8s ease;
}

.active .popup-load__container {
    transform: translate(0, 0)
}

.popup-load__content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr auto;

    margin-bottom: 20px;
}

.popup-load__exit {
    position: absolute;
    top: 15px;
    left: 100%;

    transform: translate(-30px, 0);

    &::before {
        content: "";
        display: block;

        position: absolute;
        top: 0;
        left: 0;

        width: 3px;
        height: 25px;

        background-color: #000000;

        transform: rotate(45deg);

        border-radius: 5px;
    }

    &::after {
        content: "";
        display: block;

        position: absolute;
        top: 0;
        left: 0;

        width: 3px;
        height: 25px;

        background-color: #000000;

        transform: rotate(-45deg);

        border-radius: 5px;
    }
}

.popup-load__description {
    font-size: 20px;
    font-weight: 600;

    grid-column: 1/3;
    grid-row: 1/2;

    margin-bottom: 30px;
}

.popup-load__submit {
    height: 50px;
    width: auto;
    min-width: 130px;

    font-size: 16px;

    align-self: center;

    background-color: #ffffff;

    border: 1px solid #cecece;
    border-radius: 10px;
}

.popup-load__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.popup-load__file-button {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    align-self: center;

    background-color: #ffffff;

    margin-right: 20px;

    height: 50px;

    border: 1px solid #cecece;
    border-radius: 10px;

    cursor: pointer;
}

.btn {
    background-color: #ffffff00;

    transition: all 0.3s ease;

    height: 50px;
}

.popup-load__file-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;

    border-right: 1px solid #cecece;

    & img {
        width: 25px;
    }
}

.popup-load__file-button-text {
    height: 100%;

    flex: 1 1 100%;
    text-align: center;

    font-size: 16px;
    padding: 16px 0;
}

.popup-mobile-warning {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    color: #fff;

    background-color: #222222;

    visibility: hidden;
    opacity: 0;
}

.popup-mobile-warning__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 50vw;
    width: 70%;

    max-width: 600px;
    min-width: 200px;
    position: absolute;

    & p {
        text-align: center;
    }
}

.popup-mobile-warning__image {
    width: 10vw;
    height: 10vw;

    max-width: 80px;
    min-width: 40px;
    max-height: 80px;
    min-height: 40px;
    & img {
        width: 10vw;
        object-fit: contain;
    }
}

.popup-mobile-warning__sorry {
    font-size: 5vw;
    font-weight: 600;
}

.popup-mobile-warning__text {
    font-size: 3vw;

    line-height: 4vw;
}

.popup-load__name {
    line-height: 20px;
}

.btn:active {
    background-color: #d6d6d6;
}

.navigation__replay:hover {
    transform: rotate(-90deg);
}

.navigation__prev:hover {
    transform: translate(-5px, 0px) rotate(-90deg);
}

.navigation__next:hover {
    transform: translate(5px, 0px) rotate(90deg);
}

.btn:hover {
    background-color: #e6e6e6;
}

@media(max-width:768px) {
    .popup-mobile-warning {
        visibility: visible;
        opacity: 1;
    }

    .wrapper,
    .container,
    .popup-load,
    .radio-ganres {
        width: 0;
        height: 0;
    }
}